@font-face {
    font-family: GillSansReg;
    src: url(../fonts/GillSans.ttf);
}
@font-face {
    font-family: GillSansLight;
    src: url(../fonts/GillSansLight.ttf);
}

.butn { padding: 5px 20px; border-radius: 5px; height: 35px; cursor: pointer; }
.butn.open { background: #ffffff;; border: 2px solid #117AA8; color: #117AA8; text-transform: uppercase; }
.butn.closed { background: #309677; border: 0; color: #ffffff; text-transform: uppercase; }

body { font-family: GillSansReg, Geneva, Tahoma, sans-serif; line-height: 1.4em; }

a { color: #1670A8; text-decoration: none; }
h1, h2, h3, h4 { font-weight: normal; }
h1 { font-family: GillSansReg; font-size: 24px; color: #000000; line-height: 30px; }
h2 { font-family: GillSansLight; font-size: 18px; color: #000000; line-height: 20px; letter-spacing: 2px; text-transform: uppercase; }
h3 { font-family: GillSansReg; font-size: 14px; color: #454849; line-height: 22px; letter-spacing: 2px; text-transform: uppercase; }
h4 { font-family: GillSansReg; font-size: 16px; color: #1A222B; line-height: 20px; }

p, a, ul, dl, input, button {  }

ul, li { list-style: none; }

.nahColor {  }
.haiColor { color: #198A61; }
.hightlightNumber { font-size: 21px; }

form {  }
form.fufillment { width: 600px; }
form.fufillment input, form.fufillment select { height: 32px; margin: 0 10px 10px 0;  }
form fieldset { overflow: hidden; }

label { display: none; }

input.shortInput { width: 100px; }
input.mediumInput { width: 180px; }
input.longInput { width: 300px; }
input[type="text"] { height: 42px; border: 1px solid #DBDEE2; border-radius: 5px; }
select { width: 180px; height: 32px; border: 1px solid #DBDEE2; border-radius: 5px; background: #ffffff url(../images/bg-selectbox.png) no-repeat 146px 4px; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input[type="text"], select { padding-left: 10px; }

.wrapperContainer { width: 1024px; margin: 0 auto; }http://tickets.manhattancocktailclassic.com/s
.bgHighlight { background: #D4D4D4; }
.floatRight { float: right; }
.floatLeft { float: left; }
.clearBasic { overflow: hidden; }

.headerContainer { height: 100px; overflow: hidden; }
/*.headerContainer .brandBar { height: 40px; background: #283847;
	background-image: -o-linear-gradient(92deg, rgba(40,89,148,0.00) 0%, #285994 100%);
	background-image: -moz-linear-gradient(92deg, rgba(40,89,148,0.00) 0%, #285994 100%);
	background-image: -webkit-linear-gradient(92deg, rgba(40,89,148,0.00) 0%, #285994 100%);
	background-image: -ms-linear-gradient(92deg, rgba(40,89,148,0.00) 0%, #285994 100%);
	background-image: linear-gradient(2deg, rgba(40,89,148,0.00) 0%, #285994 100%);
 }*/
 
.headerContainer .brandBar { height: 48px; padding: 10px 32px; background: #283847; overflow: hidden; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  } 
.headerContainer .mainNav { width: 100%; height: 20px; padding: 25px 32px; background: #2B4353; overflow: hidden; }
.headerContainer .mainNav ul { list-style: none; float: left; }
.headerContainer .mainNav ul li { padding-left: 10px; font-size: 14px; float: left; }
.headerContainer .mainNav ul li:first-child { padding-left: 0; }
.headerContainer .mainNav ul li a { color: #ffffff; }
.headerContainer .mainNav ul li a:hover { color: #6DC374; }
.headerContainer .mainNav ul li a.active { color: #6DC374; }
.headerContainer .mainNav ul li input[type="text"] {  }
.headerContainer .mainNav input[type="text"] { height: 58px; width: 240px; margin: -26px 0 0; color: #ffffff; background: #283847; border: 0; }
.headerContainer .mainNav ul li.mybag { height: 30px; margin-top: -10px; padding: 10px 24px 20px 10px; background: transparent url(../images/icon-mybag.svg) no-repeat right 0px; }

.headerContainer .userNav { width: 255px; list-style: none; float: right; font-family: GillSansLight, Geneva, Tahoma, sans-serif; }
.headerContainer .userNav li { color: #B0B5D4; float: left; }
.headerContainer .userNav li a { color: #ffffff; }
.headerContainer .userNav li a:hover { color: #6DC374; }
.headerContainer .userNav li a.actve { color: #6DC374; }

.mainContentContainer { padding: 20px 32px 0; }
.contentBlock { padding: 0 0 20px; border-bottom: 1px solid #d4d4d4; }
.contentBlockShadded { padding: 0 20px 20px; background: #d4d4d4; }
.headerBlock { padding: 20px 0; overflow: hidden; }
.productListDescription { width: 960px; padding: 0 0 10px 120px; overflow: hidden; border-bottom: 1px solid #d4d4d4; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.productListDescription li { float: left; }
.productListDescription li.description { width: 620px; }
.productListDescription li.qty { width: 100px; text-align: right; }
.productListDescription li.price { width: 100px; text-align: right; }

.productListItems { overflow: hidden; }
.productListItems li { width: 130px; padding: 20px 88px 0 0; float: left; font-size: 14px; }
.productListItems li a.thumbnail { width: 100px; height: 140px; border: 2px solid #979797; display: block; }
.productListItems li a.prodTitle { color: #225698; display: block; }
.productListItems li span.detail { color: #0A2E49; display: block; }


.utilityContainer { overflow: hidden; }
.utilityContainer ul.utilities { float: right; }
.mainContentContainer ul.breadCrumbs { list-style: none; }
.mainContentContainer ul.breadCrumbs li { padding: 0 20px 0 0; float: left; }
.mainContentContainer ul.breadCrumbs li a {  }

.mainContentContainer .productContent {  }
.mainContentContainer ul.twoColRow { overflow: hidden; }
.mainContentContainer ul.twoColRow li { padding: 20px 0; float: left; width: 480px; }
.mainContentContainer ul.twoColRow li h3 { margin-bottom: 10px; }
.mainContentContainer ul.productList { width: 940px; padding: 20px 0; overflow: hidden; }
.mainContentContainer ul.productList li ul.productDetails { width: 940px; margin: 0 0 20px; padding: 0 0 20px; overflow: hidden; border-bottom: 1px dotted #d4d4d4; }
.mainContentContainer ul.productList li ul:last-child { border-top: 0; }

.mainContentContainer ul.productList li ul.productDetails li { float: left; overflow: hidden; }
.mainContentContainer ul.productList li ul.productDetails li.thumb { width: 120px; }
.mainContentContainer ul.productList li ul.productDetails li.description { width: 620px; }
.mainContentContainer ul.productList li ul.productDetails li.qty { width: 100px; text-align: right; }
.mainContentContainer ul.productList li ul.productDetails li.qty input[type="text"] { width: 50px; text-align: center; }
.mainContentContainer ul.productList li ul.productDetails li.price { width: 100px; text-align: right; }

.leftRail { width: 200px; float: left; }
.leftRail h5 { font-size: 14px; color: #1C2F38; text-transform: uppercase; }
.leftRail .categoryModule { padding: 0 0 20px; }

.footerContainer { height: 60px; padding: 10px 32px 0; color: #ffffff; font-size: 11px; overflow: hidden; background: #000000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.footerContainer ul { width: 960px; list-style: none; float: left; overflow: hidden; }
.footerContainer ul li { padding-right: 10px; float: left; }
.footerContainer ul li a { color: #ffffff; }
.footerContainer p { float: left; }


/************ Delicates ************/

.priceBlock { width: 300px; float: right; padding: 5px 0; }
.priceBlock dt { width: 200px; float: left; clear: left; text-align: right;}
.priceBlock dt:after { content: " :"; }
.priceBlock dd { padding:  0 5px; float: right; }

.searchFilters { overflow: hidden; color: #2957A7; }
.numberBlock { height: 32px; margin: 0 0 0 10px; padding: 6px 0 0; border: 1px solid #DBDEE2; border-radius: 5px; overflow: hidden; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.numberBlock li { padding: 0 10px; float: left; }
.numberBlock li.selected { padding: 0 10px; float: left; background: #69AB4D; color: #ffffff; border-radius: 3px; }

.paginationModule {  }

/********************** *****************
								PLUGINS
 ***************************************/


/*************** Modal *********************/

/*************** Form validation ***********/

/* Validation */
/* Placeholder */
































